body{
    background-color: #2c2c2c;
}
.mainadduser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.backgroundform{
    text-align: center;
}
.backgroundform img{
    width: 320px;
    height: 160px;  
    margin: 40px 0 40px 0;
}
.mainform{
    background-color: #404040;
    text-align: center;
    padding: 60px 0 10px 0;
    width: 310px;
    border-radius: 10px;
    margin: auto;
}
.inputs{
    text-align: start;
    margin-left: 2em;
}
.formtext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    
}
.forminput{
    width: 250px;
    height: 35px;
    margin: 5px 0 50px 0;
    border-radius: 5px;
    border: 2px solid #656565;
    outline: none;
    background-color: #656565;
    color: #fff;
    transition: .3s;
}
.forminput:focus{
    border-color: #0267ff;
}
.checkbox{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 800;
    margin-bottom: 35px;
    text-align: start;
    margin-left: 2em;
}
.checkbox a{
    text-decoration: none;
    color: #0267ff;
    transition-duration: 0.4s;
}
.checkbox a:hover{
    color: #ff4d00;
    transition-duration: 0.4s;
}
.submitbtn{
    width: 210px;
    height: 60px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-color: #0267ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin: 10px 0 50px 0;
    cursor: pointer;
}
.submitbtn:hover{
    background-color: #ff4d00;
    transition-duration: 0.4s;
}

.span-required{
    display: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e63636;
    margin: -40px 0 20px 0;
}



@media only screen and (min-width: 375px){

    .mainform{
        box-shadow:  31px 31px 62px #181818,
             -31px -31px 62px #252525;

        
    }
}
@media only screen and (min-width: 769px){

    .backgroundform{
        width: 500px;
        background-color: #2c2c2c;
        margin: 10em 0 15em 0;
        border-radius: 15px;
    }
    .backgroundform img{
        margin-top: 20px;
    }
    .mainform{
        margin-bottom: 120px;
    }
    body{
        background-image: url("../imgs/loginuserimg.jpg");
        background-size: auto;
        background-repeat: no-repeat;   
    }
    
    .footercolor{
        margin-top: 0px;
    }
}

