
.cart-product-card{
    max-width: 100em;
    height: 17em;
    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 3em 1em;
    box-shadow:  12px 12px 40px #161616,
                    -12px -12px 40px #282828;
    transition-duration: 0.4s;
}

.cart-price-card{
    max-width: 100em;
    height: 60em;
    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 3em 1em;
    box-shadow:  12px 12px 40px #161616,
                    -12px -12px 40px #282828;
    transition-duration: 0.4s;
}