<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssreset.css">
    <link rel="stylesheet" href="../css/cssfooter.css">
    <link rel="stylesheet" href="../css/adduserform.css">
    <link rel="stylesheet" type="text/css" href="../css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../imgs/logo header img.png">
    <title>MOD TUNER</title>
</head>
<body>
    <main class="mainadduser">

        <div class="adduserimg">
            
        </div>
        
        <div class="backgroundform">

            <img src="../imgs/logo-loja.png" alt="">

            <div class="mainform">

                <form action="" id="adduser">

                    <div class="inputs">
                        <label for="nomeusuario" class="formtext">Nome de usuário:</label><br>
                        <input type="text" id="nomeusuario" name="nomeusuario" class="forminput required"  oninput="namevalidate()"><br>
                        <span class="span-required">Digite um nome com no minimo 8 caracteres</span>

                        <label for="email" class="formtext">Email:</label><br>
                        <input type="email" id="email" name="email" class="forminput required"  oninput="emailvalidate()"><br>
                        <span class="span-required">Digite um Email válido</span>

                        <label for="senha" class="formtext">Senha:</label><br>
                        <input type="password" id="senha" name="senha" class="forminput required"  oninput="passwordvalidate()"><br>
                        <span class="span-required">Digite uma senha com no minimo 8 caracteres</span>

                        <label for="confirmasenha" class="formtext">Confirmar senha:</label><br>
                        <input type="password" id="confirmasenha" name="confirmasenha" class="forminput required"  oninput="comparepassword()"><br>
                        <span class="span-required">A senhas dever ser iguais</span>
                    </div>

                    <div class="checkbox">
                       <input type="checkbox" name="" id="checkTPPok" class="checkTPP" required>
                        <label for="checkTPPok" class="checkTPPtext">Li e concordo com os termos de <a href="">Politíca e Privacidade</a></label><br> 
                    </div>

                    <input type="submit" value="Cadastre-se" class="submitbtn">

                </form>

            </div>
            
            <p class="login">Já possui uma conta?<a href="../Views/loginuser.html">Faça Login.</a></p>
        </div>
    </main>
    <footer class="footercolor">

        <div class="footerws">
            <div class="logofooter">

                <img src="../imgs/logo-loja.png" alt="MOD TUNER">

            </div>

            <div class="footerlink">

                <div class="footerlinks1">
                    <a href="">Sobre nós</a><br>
                    <a href="">Politica de privacidade</a><br>
                    <a href="">Venda conosco</a><br>
                    <a href="">Fale conosco</a>
                </div>

                <div class="footerlinks2">
                    <a href="">Formas de pagamento</a><br>
                    <a href="">Trocas e devoluções</a><br>
                    <a href="">Atendimento via chat</a><br>
                    <a href="">Prazos de entrega</a>
                </div>

            </div>
        </div>


        <div class="footertext">
            <p>Todos os direitos reservados - MOD TUNER 2023</p>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/792acc9727.js" crossorigin="anonymous"></script>
    <script src="../js/validaçãoadduser.js"></script>
</body>
</html>