<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssreset.css">
    <link rel="stylesheet" href="../css/cssheader.css">
    <link rel="stylesheet" href="../css/cssfooter.css">
    <link rel="stylesheet" type="text/css" href="../css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../imgs/logo header img.png">
    <title>MOD TUNER</title>
</head>

<body>
    <header class="headercolor">

        <div class="logo">

            <img src="../imgs/logo-loja.png" alt="MOD TUNER">

        </div>

        <div class="actionheader">
            <div class="btnheader" onclick="menuheaderToggle();">
                <button type="button"> <i class="fa-solid fa-bars"></i> </button>
            </div>
            <div class="menuheader">
                <h3 class="menuheadertext">Seja bem-vindo(a)</h3>

                <div class="menuheaderprofile">

                    <a href="./adduser.html">
                        <i class="fa-solid fa-circle-user"></i>
                        <h4>Criar conta</h4>
                    </a>
                    

                </div>

                <ul>
                    <li><i class="fa-solid fa-cart-shopping"></i><a href="">Meu carrinho</a></li>
                    <li><i class="fa-regular fa-comment-dots"></i><a href="">Suporte</a></li>
                    <li><i class="fa-solid fa-gear"></i><a href="">Configurações</a></li>
                    <li><i class="fa-solid fa-right-from-bracket"></i><a href="">Logout</a></li>
                </ul>
            </div>
        </div>

        <div class="headerws">

            <div class="btnws">
                <a href="">Mecânica</a>
                <a href="">Iterior</a>
                <a href="">Exterior</a>
                <a href="">Rodas</a>
            </div>

            <div class="cadastrows">
                <a href="./adduser.html" class="cadastrowstext">Criar conta <i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>


    </header>

    <main>

    </main>

    <footer class="footercolor">

        <div class="footerws">
            <div class="logofooter">

                <img src="../imgs/logo-loja.png" alt="MOD TUNER">

            </div>

            <div class="footerlink">

                <div class="footerlinks1">
                    <a href="">Sobre nós</a><br>
                    <a href="">Politica de privacidade</a><br>
                    <a href="">Venda conosco</a><br>
                    <a href="">Fale conosco</a>
                </div>

                <div class="footerlinks2">
                    <a href="">Formas de pagamento</a><br>
                    <a href="">Trocas e devoluções</a><br>
                    <a href="">Atendimento via chat</a><br>
                    <a href="">Prazos de entrega</a>
                </div>

            </div>
        </div>


        <div class="footertext">
            <p>Todos os direitos reservados - MOD TUNER 2023</p>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/792acc9727.js" crossorigin="anonymous"></script>
    <script src="../js/menuheaderToggle.js"></script>
</body>

</html>