<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssreset.css">
    <link rel="stylesheet" href="../css/cssheader.css">
    <link rel="stylesheet" href="../css/cssfooter.css">
    <link rel="stylesheet" href="../css/cssindex.css">
    <link rel="stylesheet" type="text/css" href="../css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../imgs/logo header img.png">
    <title>MOD TUNER</title>
</head>

<body>
    <header class="headercolor">

        <div class="logo">

            <img src="../imgs/logo-loja.png" alt="MOD TUNER">

        </div>

        <div class="actionheader">
            <div class="btnheader" onclick="menuheaderToggle();">
                <button type="button"> <i class="fa-solid fa-bars"></i> </button>
            </div>
            <div class="menuheader">
                <h3 class="menuheadertext">Seja bem-vindo(a)</h3>

                <div class="menuheaderprofile">

                    <a href="./adduser.html">
                        <i class="fa-solid fa-circle-user"></i>
                        <h4>Criar conta</h4>
                    </a>


                </div>

                <ul>
                    <li><i class="fa-solid fa-cart-shopping"></i><a href="">Meu carrinho</a></li>
                    <li><i class="fa-regular fa-comment-dots"></i><a href="">Suporte</a></li>
                    <li><i class="fa-solid fa-gear"></i><a href="">Configurações</a></li>
                    <li><i class="fa-solid fa-right-from-bracket"></i><a href="">Logout</a></li>
                </ul>
            </div>
        </div>

        <div class="headerws">

            <div class="btnws">
                <a href="">Mecânica</a>
                <a href="">Iterior</a>
                <a href="">Exterior</a>
                <a href="">Rodas</a>
            </div>

            <div class="cadastrows">
                <a href="./adduser.html" class="cadastrowstext">Criar conta <i
                        class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>


    </header>

    <main>

        <!-- carousel start -->

        <div class="slider-contain"> <!-- slideshow container -->

            <!-- Imgs full width and text -->

            <div class="slide">
                <img src="../imgs/index slide-1.jpg" alt="" srcset="">
                <div class="text">Seu carro do jeito que voçê sempre quis!</div>
                <div class="subtext">Temos o maior estoque de peças e acessórios</div>
            </div>

            <div class="slide">
                <img src="../imgs/index slide-2.jpg" alt="" srcset="">
                <div class="text">Seu carro do jeito que voçê sempre quis!</div>
                <div class="subtext">Temos o maior estoque de peças e acessórios</div>
            </div>

            <div class="slide">
                <img src="../imgs/index slide-3.jpg" alt="" srcset="">
                <div class="text">Seu carro do jeito que voçê sempre quis!</div>
                <div class="subtext">Temos o maior estoque de peças e acessórios</div>
            </div>

            <div class="slide">
                <img src="../imgs/index slide-4.jpg" alt="" srcset="">
                <div class="text">Seu carro do jeito que voçê sempre quis!</div>
                <div class="subtext">Temos o maior estoque de peças e acessórios</div>
            </div>

            <div class="slide">
                <img src="../imgs/index slide-5.jpg" alt="" srcset="">
                <div class="text">Seu carro do jeito que voçê sempre quis!</div>
                <div class="subtext">Temos o maior estoque de peças e acessórios</div>
            </div>

        </div>

        <!-- The dots/circles -->

        <div class="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>

        <!-- carousel =end -->

        <!-- filter start -->
        <div class="action-filter">

            <div class="btn-filter" onclick="menufilter();">
                <button type="button"> <i class="fa-solid fa-bars"></i>
                    <p>Filtro</p>
                </button>
                <div class="border-filter"></div>
            </div>

            <div class="menu-filter">
                <form action="" class="menu-form">

                    <div class="element-filter1">
                        <h5>Selecione uma marca:</h5>
                        <div class="brand-filter">
                            <input type="checkbox" name="" id="check-brand1">
                            <label for="check-brand1" class="check-brand-label"><img src="../imgs/brand-filterimg5.jpg"
                                    alt="Volksvagen" srcset=""></label>
                        </div>


                        <div class="brand-filter">
                            <input type="checkbox" name="" id="check-brand2">
                            <label for="check-brand2" class="check-brand-label"><img src="../imgs/brand-filterimg2.jpg"
                                    alt="Fiat" srcset=""></label>
                        </div>


                        <div class="brand-filter">
                            <input type="checkbox" name="" id="check-brand3">
                            <label for="check-brand3" class="check-brand-label"><img src="../imgs/brand-filterimg3.jpg"
                                    alt="Ford" srcset=""></label>

                        </div>


                        <div class="brand-filter">
                            <input type="checkbox" name="" id="check-brand4">
                            <label for="check-brand4" class="check-brand-label"><img src="../imgs/brand-filterimg6.jpg"
                                    alt="Chevrolet" srcset=""></label>

                        </div>


                        <div class="brand-filter">
                            <input type="checkbox" name="" id="check-brand5">
                            <label for="check-brand5" class="check-brand-label"><img src="../imgs/brand-filterimg1.jpg"
                                    alt="Mitsubishi" srcset=""></label>

                        </div>


                        <div class="brand-filter">
                            <input type="checkbox" name="" id="check-brand6">
                            <label for="check-brand6" class="check-brand-label"><img src="../imgs/brand-filterimg4.jpg"
                                    alt="Toyota" srcset=""></label>

                        </div><br>

                        <div class="brand-filter-link">
                            <a href="" >Ver todas as marcas <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                        

                    </div>
                    
                    <div class="element-filter2">
                        <h5>Selecione o tipo de carroceria:</h5>
                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter2-checkbox1" class="checkbox-btn">
                            <label for="element-filter2-checkbox1">Sedã</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter2-checkbox2" class="checkbox-btn">
                            <label for="element-filter2-checkbox2">Perua</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter2-checkbox3" class="checkbox-btn">
                            <label for="element-filter2-checkbox3">Hachtback</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter2-checkbox4" class="checkbox-btn">
                            <label for="element-filter2-checkbox4">Pickup</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter2-checkbox5" class="checkbox-btn">
                            <label for="element-filter2-checkbox5">SUV</label>
                        </div>
                    </div>


                    
                    <div class="element-filter3">
                        <h5>Selecione o tipo de motor:</h5>
                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox1" class="checkbox-btn">
                            <label for="element-filter3-checkbox1">4 cilindros</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox2" class="checkbox-btn">
                            <label for="element-filter3-checkbox2">5 cilindros</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox3" class="checkbox-btn">
                            <label for="element-filter3-checkbox3">6 cilindros</label>
                        </div>

                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox4" class="checkbox-btn">
                            <label for="element-filter3-checkbox4">V6</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox5" class="checkbox-btn">
                            <label for="element-filter3-checkbox5">V8</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox6" class="checkbox-btn">
                            <label for="element-filter3-checkbox6">V10</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox7" class="checkbox-btn">
                            <label for="element-filter3-checkbox7">VR6</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox8" class="checkbox-btn">
                            <label for="element-filter3-checkbox8">Boxer 4</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox9" class="checkbox-btn">
                            <label for="element-filter3-checkbox9">Boxer 6</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox10" class="checkbox-btn">
                            <label for="element-filter3-checkbox10">Flat 6</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter3-checkbox11" class="checkbox-btn">
                            <label for="element-filter3-checkbox11">Rotativo</label>
                        </div>
                    </div>
                    
                    <div class="element-filter4">
                        <h5>Selecione o tamanho do aro:</h5>
                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter4-checkbox1" class="checkbox-btn">
                            <label for="element-filter4-checkbox1">14 polegadas</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter4-checkbox2" class="checkbox-btn">
                            <label for="element-filter4-checkbox2">15 polegadas</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter4-checkbox3" class="checkbox-btn">
                            <label for="element-filter4-checkbox3">16 polegadas</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter4-checkbox4" class="checkbox-btn">
                            <label for="element-filter4-checkbox4">17 polegadas</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter4-checkbox5" class="checkbox-btn">
                            <label for="element-filter4-checkbox5">18 polegadas</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter4-checkbox6" class="checkbox-btn">
                            <label for="element-filter4-checkbox6">19 polegadas</label>
                        </div>


                        <div class="checkbox-filter">
                            <input type="checkbox" name="" id="element-filter4-checkbox7" class="checkbox-btn">
                            <label for="element-filter4-checkbox7">20 polegadas</label>
                        </div>
                    </div>


                    
                    <div class="element-filter5">
                        <h5>Selecione o ano do veículo:</h5>
                        <div class="age-filter">
                            <label for="">De:</label>
                            <input type="text" name="" id="" class="text-age">
                        </div>


                        <div class="age-filter">
                            <label for="">Até:</label>
                            <input type="text" name="" id="" class="text-age2">
                        </div>
                    </div>

                    <div class="submit">
                        <input type="submit" value="Filtrar" class="submit-btn">
                    </div>
                    

                </form>
            </div>
        </div>
        <!-- filter end -->

    </main>

    <footer class="footercolor">

        <div class="footerws">
            <div class="logofooter">

                <img src="../imgs/logo-loja.png" alt="MOD TUNER">

            </div>

            <div class="footerlink">

                <div class="footerlinks1">
                    <a href="">Sobre nós</a><br>
                    <a href="">Politica de privacidade</a><br>
                    <a href="">Venda conosco</a><br>
                    <a href="">Fale conosco</a>
                </div>

                <div class="footerlinks2">
                    <a href="">Formas de pagamento</a><br>
                    <a href="">Trocas e devoluções</a><br>
                    <a href="">Atendimento via chat</a><br>
                    <a href="">Prazos de entrega</a>
                </div>

            </div>
        </div>


        <div class="footertext">
            <p>Todos os direitos reservados - MOD TUNER 2023</p>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/792acc9727.js" crossorigin="anonymous"></script>
    <script src="../js/menuheaderToggle.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>