<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssreset.css">
    <link rel="stylesheet" href="../css/cssheader.css">
    <link rel="stylesheet" href="../css/cssfooter.css">
    <link rel="stylesheet" href="../css/cssindex.css">
    <link rel="stylesheet" href="../css/productpage.css">
    <link rel="stylesheet" type="text/css" href="../css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../imgs/logo header img.png">
    <title>Turbina Roletada Gtx3576r T3 A/r 0.63 - Garrett</title>
</head>

<body>
    <header class="headercolor">

        <div class="logo">

            <a href="index.html"><img src="../imgs/logo-loja.png" alt="MOD TUNER"></a>

        </div>

        <div class="actionheader">
            <div class="btnheader" onclick="menuheaderToggle();">
                <button type="button"> <i class="fa-solid fa-bars"></i> </button>
            </div>
            <div class="menuheader">
                <h3 class="menuheadertext">Seja bem-vindo(a)</h3>

                <div class="menuheaderprofile">

                    <a href="./adduser.html">
                        <i class="fa-solid fa-circle-user"></i>
                        <h4>Criar conta</h4>
                    </a>


                </div>

                <ul>
                    <li><i class="fa-solid fa-cart-shopping"></i><a href="">Meu carrinho</a></li>
                    <li><i class="fa-regular fa-comment-dots"></i><a href="">Suporte</a></li>
                    <li><i class="fa-solid fa-gear"></i><a href="">Configurações</a></li>
                    <li><i class="fa-solid fa-right-from-bracket"></i><a href="">Logout</a></li>
                </ul>
            </div>
        </div>

        <div class="headerws">

            <div class="btnws">
                <a href="">Mecânica</a>
                <a href="">Interior</a>
                <a href="">Exterior</a>
                <a href="">Rodas</a>
            </div>

            <div class="cadastrows">
                <a href="./adduser.html" class="cadastrowstext">Criar conta <i
                        class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>


    </header>

    <main>
        <div class="product-info">
            <div class="product-page">
                <div class="product-flex">
                    <div class="product-carousel">
                        <div class="img-product">
                            <img class="p-img" src="../imgs/D_NQ_NP_795131-MLB53305424740_01.jpg" alt="" srcset="">
                            <img class="p-img" src="../imgs/D_NQ_NP_684518-MLB47150775696_08.jpg" alt="" srcset="">
                            <img class="p-img" src="../imgs/D_NQ_NP_631562-MLB47150717983_08.jpg" alt="" srcset="">
                            <img class="p-img" src="../imgs/D_NQ_NP_853040-MLB47150718985_08.jpg" alt="" srcset="">
                        </div>
                        <div class="slider-nav">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                            <span class="dot" onclick="currentSlide(4)"></span>
                        </div>
                    </div>
                    <div class="product-main-info">
                        <div class="product-title">
                            <h2>Turbina Roletada Gtx3576r T3 A/r 0.63 - Garrett</h2>
                        </div>
                        <div class="product-page-price">
                            <h4>R$ 22.215</h4>
                            <p>Em até 12X de 1.855 sem juros</p>
                        </div>
                        <div class="product-btn">
                            <div class="increment-btn">
                                <span class="minus">-</span>
                                <span class="number">01</span>
                                <span class="plus">+</span>
                            </div>
                            <a href="../Views/my-cart.html">Comprar <i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>

                </div>

                <div class="product-page-description">
                    <h5>Descrição do produto:</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Sed id
                        semper risus in hendrerit gravida. Euismod in pellentesque massa placerat. Pharetra pharetra
                        massa massa ultricies mi quis hendrerit dolor magna.</p>
                </div>
            </div>
        </div>

        <div class="product-grid-5">
            <div class="product-grid-title">
                <p>SUJESTÕES</p>
                <div class="title-border"></div>
            </div>

            <div class="grid">
                <div class="product-card">
                    <div class="product-img">
                        <img src="../imgs/s-l12002.jpg" alt="Tampa de cabeçote Honda Civic B16Z6 - Muguen" srcset="">
                    </div>

                    <div class="product-descripion">
                        <p>Tampa de cabeçote Honda Civic B16Z6 - Muguen </p>
                    </div>

                    <div class="product-price">
                        <h5>R$ 629,90</h5>
                    </div>

                    <div class="product-buy-bnt">
                        <a href="">Comprar <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="../imgs/emotioncrkiwami_bronze_white.jpg" alt="Jogo de rodas Work CR Kiwami - 20"
                            srcset="">
                    </div>

                    <div class="product-descripion">
                        <p>Jogo de rodas Work CR Kiwami - 20" </p>
                    </div>

                    <div class="product-price">
                        <h5>R$ 4.750</h5>
                    </div>

                    <div class="product-buy-bnt">
                        <a href="">Comprar <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="../imgs/Sparco-345-Steering-Wheel-Leathe.jpg"
                            alt="Volante esportivo Sparco R368 em suede" srcset="">
                    </div>

                    <div class="product-descripion">
                        <p>Volante esportivo Sparco R368 em suede </p>
                    </div>

                    <div class="product-price">
                        <h5>R$ 332,05</h5>
                    </div>

                    <div class="product-buy-bnt">
                        <a href="">Comprar <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="../imgs/81x7a8VgeYL.jpg" alt="Suspensão coilover ajustável 2009 - 2017" srcset="">
                    </div>

                    <div class="product-descripion">
                        <p>Suspensão coilover ajustável 2009 - 2017 </p>
                    </div>

                    <div class="product-price">
                        <h5>R$ 318,78</h5>
                    </div>

                    <div class="product-buy-bnt">
                        <a href="">Comprar <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="footercolor">

        <div class="footerws">
            <div class="logofooter">

                <img src="../imgs/logo-loja.png" alt="MOD TUNER">

            </div>

            <div class="footerlink">

                <div class="footerlinks1">
                    <a href="">Sobre nós</a><br>
                    <a href="">Politica de privacidade</a><br>
                    <a href="">Venda conosco</a><br>
                    <a href="">Fale conosco</a>
                </div>

                <div class="footerlinks2">
                    <a href="">Formas de pagamento</a><br>
                    <a href="">Trocas e devoluções</a><br>
                    <a href="">Atendimento via chat</a><br>
                    <a href="">Prazos de entrega</a>
                </div>

            </div>
        </div>


        <div class="footertext">
            <p>Todos os direitos reservados - MOD TUNER 2023</p>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/792acc9727.js" crossorigin="anonymous"></script>
    <script src="../js/menuheaderToggle.js"></script>
    <script src="../js/productpage.js"></script>
</body>

</html>