<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssreset.css">
    <link rel="stylesheet" href="../css/cssheader.css">
    <link rel="stylesheet" href="../css/cssfooter.css">
    <link rel="stylesheet" href="../css/my-cart.css">
    <link rel="stylesheet" type="text/css" href="../css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../imgs/logo header img.png">
    <title>MEU CARRINHO</title>
</head>
<body>
    <header class="headercolor">

        <div class="logo">

            <a href="index.html"><img src="../imgs/logo-loja.png" alt="MOD TUNER"></a>

        </div>

        <div class="actionheader">
            <div class="btnheader" onclick="menuheaderToggle();">
                <button type="button"> <i class="fa-solid fa-bars"></i> </button>
            </div>
            <div class="menuheader">
                <h3 class="menuheadertext">Seja bem-vindo(a)</h3>

                <div class="menuheaderprofile">

                    <a href="./adduser.html">
                        <i class="fa-solid fa-circle-user"></i>
                        <h4>Criar conta</h4>
                    </a>


                </div>

                <ul>
                    <li><i class="fa-solid fa-cart-shopping"></i><a href="">Meu carrinho</a></li>
                    <li><i class="fa-regular fa-comment-dots"></i><a href="">Suporte</a></li>
                    <li><i class="fa-solid fa-gear"></i><a href="">Configurações</a></li>
                    <li><i class="fa-solid fa-right-from-bracket"></i><a href="">Logout</a></li>
                </ul>
            </div>
        </div>

        <div class="headerws">

            <div class="btnws">
                <a href="">Mecânica</a>
                <a href="">Interior</a>
                <a href="">Exterior</a>
                <a href="">Rodas</a>
            </div>

            <div class="cadastrows">
                <a href="./adduser.html" class="cadastrowstext">Criar conta <i
                        class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>


    </header>

    <main>
        <div class="main-position">
            <div class="cart-product-card">
                <div class="cart-product-card-img">
                    <img src="../imgs/D_NQ_NP_795131-MLB53305424740_01.jpg" alt="">
                </div>
                <div class="cart-product-card-text">
                    <p>Turbina Roletada Gtx3576r T3 A/r 0.63 - Garrett</p>
                    <h2>R$ 22.215</h2>
                </div>
            </div>

            <div class="cart-price-card">
                <form action="">
                    <div class="card-price-title">
                        <h2>Resumo do pedido</h2>
                    </div>

                    <div class="card-input-cupom">
                        <label for="cupom">Cupom de desconto</label>
                        <input type="text" name="cupom" id="">
                    </div>
                    

                    <div class="card-price-title">
                        <h2>Calcular frete</h2>
                    </div>

                    <div class="card-input-frete">
                        <input type="number" name="frete" id="" class="cep-number">
                        <input type="button" value="Calcular" class="cep-number-btn">
                    </div>

                    <p class="frete-ex">Ex: 12345-678</p>

                    <div class="frete-value">
                        <p>Valor do frete:</p>
                        <label for="frete">Não calculado</label>
                    </div>
                    
                    <div class="card-price-title">
                        <h2>Valor total</h2>
                    </div>

                    <div class="card-price-end">
                        <h2>R$ 22.215</h2>
                        <p>A vista no pix ou boleto</p>

                        <h2>R$ 23.410</h2>
                        <p>em até x12 de R$1.950,83 sem juros</p>
                    </div>

                    <div class="finish-order-btn">
                        <a href="purchase-thanks.html">Finalizar pedido</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </main>

    <footer class="footercolor">

        <div class="footerws">
            <div class="logofooter">

                <img src="../imgs/logo-loja.png" alt="MOD TUNER">

            </div>

            <div class="footerlink">

                <div class="footerlinks1">
                    <a href="">Sobre nós</a><br>
                    <a href="">Politica de privacidade</a><br>
                    <a href="">Venda conosco</a><br>
                    <a href="">Fale conosco</a>
                </div>

                <div class="footerlinks2">
                    <a href="">Formas de pagamento</a><br>
                    <a href="">Trocas e devoluções</a><br>
                    <a href="">Atendimento via chat</a><br>
                    <a href="">Prazos de entrega</a>
                </div>

            </div>
        </div>


        <div class="footertext">
            <p>Todos os direitos reservados - MOD TUNER 2023</p>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/792acc9727.js" crossorigin="anonymous"></script>
    <script src="../js/menuheaderToggle.js"></script>
    <script src="../js/productpage.js"></script>
</body>
</html>